/* You can add global styles to this file, and also import other style files */

/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.not-tailwind * {
  all: unset;
}

body {
  @apply h-screen;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
